body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f4f4f4; /* Light background color */
}

.header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 80px);
  background-color: #4caf50; /* Vibrant background color */
}

.hero-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  padding: 20px;
  margin: 0 auto;
}

.section {
  flex: 1;
  padding: 20px;
  text-align: center;
}

.form-container {
  max-width: 400px;
  background-color: #fff; /* White background color */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Soft shadow */
}

.info {
  background-color: rgba(250, 235, 215, 0.429);
}

.bold {
  background-color: rgba(255, 255, 0, 0.451);
}

input[type="text"],
input[type="email"] {
  width: calc(100% - 22px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
}

input[type="radio"] {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
}

input[type="submit"] {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

/* Responsive adjustments */
@media only screen and (max-width: 768px) {
  .hero-content {
    flex-direction: column;
  }
  .section {
    flex: 0 0 100%;
    margin-bottom: 20px;
  }
}
